.header-wrap {
  @extend .jumbotron;
  margin: 0;
}

.header-title {
  text-align: center;
}

.main-wrap {
  padding: 60px 0;
}

.main-container {
  @extend .container;
}

.audio-single {
  @extend .col-md-4;
}

.audio-content {
  @extend .thumbnail;
  padding: 30px 0;
  transition: transform ease-out 200ms;

  &:hover {
    text-decoration: none;
    transform: translateY(-5px);

    .audio-image {
      border-color: #337ab7;
    }
  }
}

.audio-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 1px lightgray;
  transition: border-color ease-out 300ms;
}

.audio-title {
  text-align: center;
  margin: 15px 0 0;
}